<div class="csv_import">
    <% if flash[:notice].present? %>
        <div class="success_message">
            <p> <%= flash[:notice] %></p>
        </div>
    <%end%>

    <div class="form">
        <%= form_tag({controller: "home", action: "file_upload", method: 'post', remote: true}, multipart: true) do %>
            <div class="field">
            <%= label_tag :please_upload_file %>
            <%= file_field_tag :file, accept: '.zip,.csv' %>
            </div>
            <div class="actions">
            <%= submit_tag 'Submit' %>
            </div>
        <% end %>
    </div>

    <% if flash[:error].present? %>
        <div class="error_message">
            <% flash[:error].each do |error| %>
                <p><%= error %></p>
            <%end%>
        </div>
    <%end%>
</div>
